    @font-face {
    font-family: Terrazzo;
    src: url(../fonts/terrazzo.otf)
}
body {
    font-family: "Terrazzo", "monofspaced";
    color: red;
    word-spacing: -1px;
}
a {
    color: red;
    cursor: -webkit-image-set(url(../icons/pointer-finger.png)1x,url(../icons/pointer-finger@2x.png)2x)54 8,auto;
}
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ul {
    display: block;
    list-style-type: none;
}
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.sidebar {
    padding: 0px;
    border-right: 2px solid red;
    text-align: center;
    display: inline-block;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 322px;
    min-height: 500px;
    background-color: #fff;
    z-index: 2;
    }
.sidebar-inner {
    padding: 35px 35px 30px 35px;
    border-bottom: none;
    position: relative;
    z-index: 1
}
.primary-nav {
    font-family: 'Terrazzo';
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    word-spacing: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 45%;
    transform: translateY(-50%) translateX(-5%);
    margin: auto;
    font-size: 46px;
    line-height: 47.5px;
}
.primary-nav a {
    text-decoration: none;
    color: red;
}
.primary-nav a:hover,
.primary-nav a.active {
    display: inline-block;
    -webkit-transform: rotate(-180deg) translateX(-0.09em);
    -moz-transform: rotate(-180deg) translateX(0.09em);
    -o-transform: rotate(-180deg) translateX(0.09em);
    transform: rotate(-180deg) translateX(0.09em);
}
.cart a {
    font-family: 'Courier';
    text-decoration: none;
    letter-spacing: 1px;
    border-bottom: 1px solid;
    cursor: pointer
}
.secondary-nav {
    font-family: 'Courier';
    border-bottom: 1px solid;
    position: fixed;
    bottom: 55px;
    left: 65px
}

.secondary-nav a {
    text-decoration: none;
    cursor: pointer
}
.content {
    margin-left: 322px;
    padding: 35px;
    padding-right: 47px;
    padding-bottom: 0;
    position: relative;   
}
.scrollable {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    position: block
}
}
.product {
    width: 100%;
    height: auto;
    left: 0;
    padding-top: 35px;
    position: absolute
}
.product-header {
    width: 100%;
    height: 100%;
    font-family: courier;
    color: white;
    font-size: 150%;
    position: absolute
}
.product-header a {
    position: absolute;
    color: ghostwhite;
    z-index: 3;
    cursor: pointer
}
.name {
    position: absolute;
    top: 25px;
    left: 35px
}
.product-cart {
    position: absolute;
    top: 25px;
    right: 120px
}
.info {
    position: absolute;
    bottom: 60px;
    left: 35px
}
.price {
    position: absolute;
    bottom: 35px;
    right: 120px
}
.slider{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.img-slide {
    max-width: 100%;
    height: auto;
    left: 0;  
}
.button{
    position: absolute;
    border: none;
    opacity: 0;
    z-index: 2
}
.next {
    position: absolute;
    width: 45%;
    height: auto;
    right: 47px;
    top: 35px;
    bottom: 0;
    cursor: -webkit-image-set(url(../icons/next.png)1x,url(../icons/next@2x.png)2x)48 44,auto;
}
.prev {
    position: absolute;
    width: 48%;
    height: auto;
    left: 35px;
    top: 35px;
    bottom: 0;
    cursor: -webkit-image-set(url(../icons/prev.png)1x,url(../icons/prev@2x.png)2x)80 44,auto;
}
