    @font-face {
    font-family: Terrazzo;
    src: url(terrazzo.otf)
}

body {
    font-family: "Terrazzo", "monofspaced";
    color: red;
    word-spacing: -1px
}

a {
    color: red;
    cursor: url(/pointer-finger.png), auto;
}

section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ul {
        display: block;
    list-style-type: none;
}

li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

.sidebar {
    padding: 35px;
    border-right: 2px solid red;
    text-align: center;
    display: inline-block;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 322px;
    min-height: 500px;
    background-color: #fff;
    z-index: 2
        
    }

.primary-nav {
    font-family: 'Terrazzo';
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    word-spacing: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-5%);
    -moz-transform: translateY(-50%) translateX(-5%);
    -ms-transform: translateY(-50%) translateX(-5%);
    -o-transform: translateY(-50%) translateX(-5%);
    transform: translateY(-50%) translateX(-5%);
    margin: auto;
    font-size: 46px;
    line-height: 47.5px;
}

.primary-nav a {
    text-decoration: none;
    color: red;
}

.primary-nav a:hover,
.primary-nav a.active {
    display: inline-block;
    -webkit-transform: rotate(-180deg) translateX(-0.09em);
    -moz-transform: rotate(-180deg) translateX(0.09em);
    -o-transform: rotate(-180deg) translateX(0.09em);
    transform: rotate(-180deg) translateX(0.09em);
}

.cart {
    font-family: ''
    font
        
}