    @font-face {
    font-family: Terrazzo;
    src: url(terrazzo.otf)
}
body {
    font-family: "Terrazzo", "monofspaced";
    color: red;
    word-spacing: -1px;
}
a {
    color: red;
    cursor: url(/pointer-finger.png), auto;
}
section {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
ul {
    display: block;
    list-style-type: none;
}
li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.sidebar {
    padding: 0px;
    border-right: 2px solid red;
    text-align: center;
    display: inline-block;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    width: 322px;
    min-height: 500px;
    background-color: #fff;
    z-index: 2;
    }
.sidebar-inner {
    padding: 35px 35px 30px 35px;
    border-bottom: 2px solid red;
    position: relative;
    z-index: 1
}
.primary-nav {
    font-family: 'Terrazzo';
    font-weight: bold;
    font-style: normal;
    font-stretch: condensed;
    word-spacing: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%) translateX(-5%);
    margin: auto;
    font-size: 46px;
    line-height: 47.5px;
}
.primary-nav a {
    text-decoration: none;
    color: red;
}
primary-nav a:hover,
.primary-nav a.active {
    display: inline-block;
    transform: rotate(-180deg) translateX(0.09em);
}
.cart a {
    font-family: 'Times';
    text-decoration: none;
}
.content {
    margin-left: 322px;
    padding: 35px;
    padding-right: 47px;
    padding-bottom: 0;
    position: relative;   
}
.scrollable {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}
}
.product {
    width: 100%;
    height: auto;
    left: 0;
    top: 35px
}
.product-header {
    width: 100%;
    height: 100%;
    font-family: courier;
    color: navy;
    font-size: 150%;
    position: absolute
}
.product-header a {
    position: absolute;
    color: navy;
    z-index: 3
}
.name {
    position: absolute;
    top: 25px;
    left: 35px
}
.product-cart {
    position: absolute;
    top: 25px;
    right: 120px
}
.info {
    position: absolute;
    bottom: 60px;
    left: 35px
}
.price {
    position: absolute;
    bottom: 35px;
    right: 120px
}
.slider{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.img-slide {
    max-width: 100%;
    height: auto;
    left: 0;  
}
.button{
    position: absolute;
    border: none;
    opacity: 0;
    z-index: 2
}
.next {
    width: 50%;
    height: 100%;
    right: 0;
    bottom: 0;
    cursor: url(next.png), pointer
}
.prev {
    width: 50%;
    height: 100%;
    left: 0;
    bottom: 0;
    cursor: url(prev.png), pointer
}
